* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #5c0e7f;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container p{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: #e468f7;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.04em;
    background: #5c0e7f;
    position: relative;
    animation: text 3s 1;
    text-shadow: 0px 0px 15px #e468f7;
    
}

.text2{
    color: #e468f7;
    font-size: 60px;
    text-shadow: 0px 0px 10px #e468f7;
}

@keyframes text{
    0%{
        color: rgba(189, 9, 217,0.4);
        margin-bottom: -70px;
        text-shadow: 0px 0px 0px #e468f7;
    }
    40%{
      color: rgba(189, 9, 217,0.7);
        letter-spacing: 0.3em;
        margin-bottom: -70px;
        text-shadow: 0px 0px 2.5px #e468f7;
    }
    90%{
      color: rgba(189, 9, 217,1);
        letter-spacing: 0.1em;
        margin-bottom: -70px;
        text-shadow: 0px 0px 5px #e468f7;
    }
}